<div id="about" class="lg:max-w-7xl px-8 mx-auto max-w-2xl pb-12 pt-16">

  <div class="font-semibold text-sm text-gray-600">
    NOTRE HISTOIRE
  </div>

  <div class="mt-8 grid lg:grid-cols-2 gap-8 items-center">
    <img class="rounded-xl"  src="<%= relative_url '/images/team.jpg' %>" alt="Notre équipe" />
    <div class="space-y-4 font-sm text-gray-600">
      <p>
        Originaire de Gironde, notre entreprise familiale évolue dans le secteur du bâtiment depuis plus d'une décennie. Avec le temps, notre passion s'est affinée et aujourd'hui, nous sommes fiers de nous spécialiser dans le domaine de la climatisation.
      </p>
      <p>
        Nos valeurs reposent sur la qualité de notre travail, l'efficacité de nos interventions et le bien-être de nos clients.
      </p>
      <p>
        Et parce que nous savons que le travail ne s'arrête pas une fois l'installation terminée, nous nous tenons toujours à disposition de nos clients. Notre service après-vente est là pour répondre à chaque question, résoudre chaque souci, et garantir que votre expérience avec nous et nos installations réponde à vos attentes.
      </p>
    </div>
  </div>
</div>