<div id="contact" class="lg:max-w-7xl px-8 mx-auto max-w-2xl pb-12 pt-16">

  <div class="font-semibold text-sm text-gray-600">
    NOUS CONTACTER
  </div>

  <div class="mt-8 grid lg:grid-cols-3 gap-8">
    <div class="space-y-2 font-sm text-gray-600">
      <p class="text-indigo-900 font-semibold">
        Verp’Habitat
      </p>
      <p>
        Ambarès-et-Lagrave 33440
      </p>
      <p>
        <a class="text-indigo-900 underline" href="tel:&#x30;&#x36;&#x20;&#x34;&#x32;&#x20;&#x33;&#x33;&#x20;&#x37;&#x34;&#x20;&#x37;&#x32;">
          &#x30;&#x36;&#x20;&#x34;&#x32;&#x20;&#x33;&#x33;&#x20;&#x37;&#x34;&#x20;&#x37;&#x32;
        </a>
      </p>
      <p>
        <a href="mailto:contact&#64;verphabitat&#46;fr" class="text-indigo-900 underline">
          contact&#64;verphabitat&#46;fr
        </a>
      </p>
      <p class="pt-6">
        <a href="https://www.instagram.com/verphabitat/" target="_blank" class="flex items-center space-x-1">
          <%= svg '/images/instagram.svg', class: "h-5 w-5" %>
          <span class="underline">
            Retrouvez-nous sur instagram
          </span>
        </a>
      </p>
    </div>
    <div class="col-span-2">
      <img class="rounded-xl" src="<%= relative_url '/images/map.jpg' %>" />
    </div>
  </div>
</div>