<div class="bg-zinc-200 bg-opacity-30 relative isolate">
  <div class="lg:max-w-7xl px-8 mx-auto max-w-2xl pb-12 pt-16">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="flex space-x-4 items-start">
        <img class="w-[50px]" src="<%= relative_url '/images/bureau_veritas.svg' %>" alt="Attestation climatisation Bureau Veritas" />
        <div class="text-xs text-gray-500">
          Notre attestation de capacité, délivrée par le Bureau Veritas, garantit notre expertise dans tous les domaines de la réfrigération, de la climatisation et des pompes à chaleur.
        </div>
      </div>

      <div class="flex space-x-4 items-start">
        <img class="w-[50px]" src="<%= relative_url '/images/mutuelle_poitiers.svg' %>" alt="Décennale Mutuelle Poitiers"  />
        <div class="text-xs text-gray-500">
          Notre garantie décennale vous assure une tranquillité d'esprit pendant 10 ans après l'achèvement des travaux.
        </div>
      </div>

      <div class="flex space-x-4 items-start">
        <img class="w-[50px]" src="<%= relative_url '/images/garantie.svg' %>" alt="Garantie jusqu'à 5 ans" />
        <div class="text-xs text-gray-500">
          Garantie jusqu’à 5 ans sur une sélection de marques partenaires.
        </div>
      </div>

      <div class="flex space-x-4 items-start">
        <img class="w-[50px]" src="<%= relative_url '/images/entretien.svg' %>" alt="Entretien gratuit la première année" />
        <div class="text-xs text-gray-500">
          L’entretien est gratuit pour la première année. Vous gardez l'esprit tranquille.
        </div>
      </div>
    </div>
  </div>
</div>